.root p {
    margin: 2.5rem 0;
    font-size: 1rem;
}

.title {
    font-size: 2.25rem;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
}

.intro {
    font-weight: 900;
    font-size: 1rem;
}

@media (min-width: 961px) {
    .title {
        font-size: 2.8125rem;
    }
}
