@import '~/src/variables.css';

.root {
    overflow: auto;
    padding: 7.5rem 1.5rem 2.5rem;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--main-background-color);
    color: var(--main-foreground-color);
    background-image: url(~/src/assets/bg-deco-left.svg),
        url(~/src/assets/bg-deco-right.svg);
    background-repeat: no-repeat;
    background-size: 150px, 250px;
    background-position:
        left bottom,
        right top;
}

.page {
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 961px) {
    .root {
        padding: 5rem 2.5rem;
    }
}
